
<div class="card">
<div class="card-body">
<h4 class="card-title">
List of Users
</h4>

<!-- <div *ngFor="let item of ponds| keyvalue">
    {{ item.key }} - {{ item.value }}
  </div> -->
<!-- 
<li *ngFor="let obj of ponds">{{obj.email}}</li> -->

<table class="table table-hover">
    <thead>
        <tr>
             <th>UserID</th> <th>Email</th> <th>Name</th> <th>gender</th><th>status</th><th>last_updated</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pond of ponds">
           
            <td>{{pond.id}}</td>
            <td>{{pond.email}}</td>
            <td>{{pond.name}}</td>
            <td>{{pond.gender}}</td>
            <td>{{pond.status}}</td>
            <td>{{pond.updated_at}}</td>

            <td>    <!-- <button class="btn btn-danger" (click)='deleteCountry(pond)'>Delete</button> -->
               <button class="btn btn-primary" (click)='doUpdate(pond)'>Update</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>